<template>
  <div class="card">
    <el-switch
      class="enable-ety"
      v-model="enableEty"
      on-text=""
      off-text="">
    </el-switch>
    <h2>{{word.label}}</h2>
    <h4>{{word.phonetic}}</h4>
    <div v-if="enableEty && ety" class="ety">
      <div v-for="(dt, idx) in ety.dts">
        {{dt}}:{{ety.dds[idx]}}
      </div>
      <hr>
    </div>
    <div v-for="def in word.defs" class="def">
      <div v-html="getChnStyled(def.explan)"></div>
      <div v-show="def.example"><span class="prefix">例: </span><span class="example" v-html="getChnStyled(def.example)"></span></div>
      <div v-show="def.synonym"><span class="prefix">近: </span><span v-html="getChnStyled(def.synonym)"></span></div>
      <div v-show="def.antonym"><span class="prefix">反: </span><span v-html="getChnStyled(def.antonym)"></span></div>
      <div v-show="def.derive"><span class="prefix">派: </span><span v-html="getChnStyled(def.derive)"></span></div>
      <div v-show="def.same"><span class="prefix">同: </span><span v-html="getChnStyled(def.same)"></span></div>
      <hr>
    </div>
    <div class="progress">{{progress}}</div>
  </div>
</template>

<script>
const s = window.localStorage
const str2Boolean = str => {
  if (typeof str === 'string') { 
    return str.toLowerCase() === 'true'
  }
  return !!str
}
export default {
  name: 'card',
  props: ['list'],
  data () {
    return {
      ety: null,
      enableEty: str2Boolean(s.getItem('enableEty')),
      isUpdatedByEty: false
    }
  },
  computed: {
    progress () {
      let visible = this.list.filter(item => item.show)
      const total = visible.length
      return visible.indexOf(this.word) + 1 + '/' + total
    },
    word () {
      const no = this.$route.query.no
      return this.list[no] || {}
    }
  },
  watch: {
    enableEty (v) {
      s.setItem('enableEty', v)
    }
  },
  methods: {
    onClick (e) {
      if (e.clientY < 16 * 7) return
      const bodyWidth = document.body.offsetWidth
      const x = e.clientX
      let newNo =
        x > bodyWidth / 2
        ? this.getNext()
        : this.getPrev()

      if (this.inRange(newNo)) {
        this.$router.push({query: { no: newNo }})
      }
    },
    getNext () {
      let newNo = this.$route.query.no
      while (this.inRange(++newNo)) {
        if (this.list[newNo].show) {
          return newNo
        }
      }
      return -1
    },
    getPrev () {
      let newNo = this.$route.query.no
      while (this.inRange(--newNo)) {
        if (this.list[newNo].show) {
          return newNo
        }
      }
      return -1
    },
    inRange (no) {
      return -1 < no && no < this.list.length
    },
    setEty (v) {
      this.isUpdatedByEty = true
      this.ety = v
    },
    getEtys () {
      if (!this.enableEty) return
      let prev, next

      // prev
      if (this.inRange(prev = this.getPrev())) {
        this.getEty(this.list[prev].label)
      }

      // this one
      this.getEty(this.word.label, this.setEty)

      // next
      if (this.inRange(next = this.getNext())) {
        this.getEty(this.list[next].label)
      }
    },
    getEty (label, cb) {
      if (window._etys[label]) {
        cb && cb(window._etys[label])
        return
      }
      const url = 'https://wrapapi.com/use/yuqian/etymonline/main/latest?wrapAPIKey=uF7SsdelG27pfyAbP1o7nM7wBC6q2qhp&term=' + label
      this.$http.get(url)
        .then(terms => terms.json())
        .then(json => {
          const data = json.data
          window._etys[label] = data
          cb && cb(data)
        })
        .catch(result => {
          this.$message({
            message: result,
            type: 'error'
          })
        })
    },
    getChnStyled (text) {
      if (!text) {
        return text
      }
      let i = -1, mode = -1 // 0-eng, 1-chn
      let result = ''
      while (++i < text.length) {
        const t = text[i];
        if (t === '|') {
          result += '</span><br>'
          ++i
          mode = -1
        } else
        if (t === '→') {
          result += '</span><br>→' + text[i + 1]
          ++i
          mode = -1
        } else
        if (text.charCodeAt(i) < 1000) {
          if (mode === 0) {
            result += t
          } else {
            result += mode === -1 ? '' : '</span>'
            result += '<span class="eng">'
            result += t
            mode = 0
          } 
        } else {
          if (mode === 1) {
            result += t
          } else {
            result += mode === -1 ? '' : '</span>'
            result += '<span class="chn" style="color:#f8f8f8;">'
            result += t
            mode = 1
          }
        }
      }
      return result
    }
  },
  created () {
    if (!this.word.label) {
      this.$router.replace({ path: '/' })
      return
    }
    this.getEtys()
  },
  mounted () {
    const card = document.querySelector('div.card')
    card && card.addEventListener('click', this.onClick)
  },
  beforeUpdate () {
    if (this.isUpdatedByEty === false) {
      this.getEtys()
    }
  },
  beforeDestroy () {
    const card = document.querySelector('div.card')
    card && card.removeEventListener('click', this.onClick)
  },
  beforeRouteEnter (to, from, next) {
    if (!to.query.no) {
      to.query.no = 0
    }
    next()
  },
  beforeRouteUpdate (to, from, next) {
    this.isUpdatedByEty = false
    this.ety = null
    next()
  }
}
</script>

<style scoped>
h2 {
  margin: 0;
  padding: 0.5em 0 0.2em 0;
}
h4 {
  margin: 0;
  padding: 0 0 1em 0; 
  font-weight: normal;
  color: #aaa;
}
.card {
  padding: 0 1rem;
  height: 100%;
}
.prefix {
  color: #aaa;
  font-weight: bold;
}
.def > div {
  text-indent: -1.5em;
  padding-left: 1.5em;
}
.progress {
  color: #bfcbd9;
  position: fixed;
  top: 0;
  left: 50%;
  width: 100px;
  margin-left: -50px;
  z-index: 101;
  line-height: 3rem;
  text-align: center;
}
.ety {
  font-family: 'Times New Roman', Times, serif;
}
.enable-ety {
  float: right;
  padding: 1rem 0;
}
.example {
  font-weight: bold;
}
</style>
