<template>
<el-dialog title="登陆"
  size="large" :visible="visible" @update:visible="turn">
  <el-form :model="form">
    <el-form-item label="用户名">
      <el-input v-model="form.username" auto-complete="off"></el-input>
    </el-form-item>
    <el-form-item label="密码">
      <el-input v-model="form.password" type="password" auto-complete="off"></el-input>
    </el-form-item>
  </el-form>
  <div slot="footer" class="dialog-footer">
    <el-button @click="turn(false)">取 消</el-button>
    <el-button type="primary" @click="login">确 定</el-button>
  </div>
</el-dialog>
</template>

<script>
export default {
  name: 'login',
  props: ['visible'],
  data () {
    return {
      formVisible: false,
      form: {
        username: '',
        password: ''
      }
    }
  },
  methods: {
    turn (val) {
      this.$emit('update:visible', val)
    },
    login () {
      AV.User.logIn(this.form.username, this.form.password)
        .then(
          loginedUser => {
            this.form.username = ''
            this.form.password = ''
            this.turn(false)
          },
          err => {
            this.$message({
              showClose: true,
              message: '用户名或密码错误',
              type: 'error'
            })
          }
        )
    }
  }
}
</script>

<style scoped>

</style>