<template>
<div class="word-list">
  <div class="top">
    <el-select
      class="select" size="small"
      v-model="type"
      @change="handleTypeChange">
      <el-option
        v-for="item in options"
        :key="item.value"
        :label="item.label"
        :value="item.value">
      </el-option>
    </el-select>
    <el-pagination
      class="pagination"
      @current-change="getWords"
      :current-page.sync="currentPage"
      :page-size="pageSize"
      layout="->, slot, prev, next, jumper"
      :total="total">
      <span class="pages">{{total}}条 共{{Math.ceil(total / pageSize)}}页</span>
    </el-pagination>
  </div>
  <table
    :class="{'reveal-mode': revealMode}"
  >
    <tr v-for="(item, i) in list"
      v-show="item.show"
      :class="{remember: item.rem, revealed1: item.clicked, revealed2: !item.clicked}">
      <td class="no">{{ i + 1 + (currentPage - 1) * pageSize }}</td>
      <router-link class="word" :to="{path: 'card', query: { no: i }}" tag="td">{{item.label}}</router-link>
      <td class="def" @click="toggle(item, $event)">{{item.defs | simpleDefs}}</td>
    </tr>
  </table>
  <!-- <el-button class="done" @click="handleDone" type="primary">完成</el-button> -->

  <div class="btn-float btn-reveal"
    :class="{active: revealMode}"
    @click="handleReveal"
  >
    <svg class="icon" style="transform: translate(2px,-1px);width: 0.9em; height: 0.9em;vertical-align: middle;fill: currentColor;overflow: hidden;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="10247"><path d="M1005.97891 923.946821C1005.97891 923.946821 988.296431 941.821268 988.296431 941.821268 964.620254 965.945373 925.842515 965.945373 902.166338 941.927918 902.166338 941.927918 662.844978 698.873828 662.844978 698.873828 662.844978 698.873828 662.269071 698.276591 662.269071 698.276591 703.649057 670.654384 738.352787 633.753675 763.884664 590.517989 763.884664 590.517989 764.6952 591.349855 764.6952 591.349855 764.6952 591.349855 1005.97891 836.494274 1005.97891 836.494274 1029.676417 860.4904 1029.676417 899.908036 1005.97891 923.946821ZM660.47736 631.535367C640.107316 649.196515 617.177685 663.935469 592.285704 675.005681 558.39251 690.149903 520.979883 698.639199 481.583578 698.639199 420.793393 698.639199 364.781103 678.439794 319.177799 644.610589 319.177799 644.610589 237.697622 644.610589 237.697622 644.610589 237.697622 644.610589 158.521072 644.610589 158.521072 644.610589 150.970291 644.610589 144.891273 638.382261 144.891273 630.767491 144.891273 623.08873 150.970291 616.903063 158.521072 616.903063 158.521072 616.903063 215.365227 616.903063 215.365227 616.903063 215.365227 616.903063 286.884347 616.903063 286.884347 616.903063 257.001172 586.59329 234.1142 549.308643 220.356422 507.779348 220.356422 507.779348 163.234978 507.779348 163.234978 507.779348 163.234978 507.779348 158.521072 507.779348 158.521072 507.779348 150.970291 507.779348 144.891273 501.59368 144.891273 493.93625 144.891273 486.833397 150.202415 481.180976 156.98532 480.43443 157.518567 480.32778 158.009155 480.071822 158.521072 480.071822 158.521072 480.071822 212.741651 480.071822 212.741651 480.071822 208.369024 460.320344 205.873427 439.82232 205.873427 418.64174 205.873427 402.367034 207.515828 386.518927 210.139405 371.012097 210.139405 371.012097 158.521072 371.012097 158.521072 371.012097 157.219949 371.012097 155.982815 370.585499 154.767012 370.201561 149.093261 368.55916 144.891273 363.439986 144.891273 357.105009 144.891273 349.468909 150.970291 343.283241 158.521072 343.283241 158.521072 343.283241 159.822195 343.283241 159.822195 343.283241 159.822195 343.283241 216.261083 343.283241 216.261083 343.283241 227.267306 303.311028 246.677505 266.964896 272.571991 236.377835 272.571991 236.377835 204.550974 236.377835 204.550974 236.377835 204.550974 236.377835 158.521072 236.377835 158.521072 236.377835 150.970291 236.377835 144.891273 230.149507 144.891273 222.534737 144.891273 214.855976 150.970291 208.648979 158.521072 208.648979 158.521072 208.648979 224.302451 208.648979 224.302451 208.648979 224.302451 208.648979 299.660951 208.648979 299.660951 208.648979 348.207779 165.263983 411.770849 138.708271 481.583578 138.708271 520.979883 138.708271 558.39251 147.218897 592.285704 162.341789 617.177685 173.412001 640.107316 188.150955 660.47736 205.812103 719.710463 257.174477 757.379048 333.386172 757.379048 418.64174 757.379048 503.918638 719.710463 580.172993 660.47736 631.535367ZM660.47736 305.060079C643.24281 277.139254 619.907911 253.612386 592.285704 236.292515 560.098901 216.09311 522.259677 204.212362 481.583578 204.084382 410.981644 204.276351 348.719696 239.577318 310.389885 293.563268 310.389885 293.563268 513.365113 293.563268 513.365113 293.563268 532.178075 293.563268 547.428946 309.048768 547.428946 328.181679 547.428946 347.31459 532.178075 362.80009 513.365113 362.80009 513.365113 362.80009 280.314741 362.80009 280.314741 362.80009 279.482875 362.80009 278.757659 362.62945 277.947123 362.544131 273.147898 380.461238 270.332353 399.210211 270.289693 418.64174 270.332353 437.795981 273.083908 456.288995 277.733824 473.928814 278.60835 473.907484 279.440215 473.651525 280.314741 473.651525 280.314741 473.651525 513.365113 473.651525 513.365113 473.651525 532.178075 473.651525 547.428946 489.179685 547.428946 508.269936 547.428946 527.402846 532.178075 542.909676 513.365113 542.909676 513.365113 542.909676 309.749988 542.909676 309.749988 542.909676 348.03714 597.407544 410.576376 633.028459 481.583578 633.156438 522.259677 633.092449 560.098901 621.25436 592.285704 601.012295 619.907911 583.735084 643.24281 560.208216 660.47736 532.308721 680.847405 499.332712 692.834803 460.469653 692.920122 418.64174 692.834803 376.856487 680.847405 338.014758 660.47736 305.060079ZM597.319558 64.074988C597.319558 64.074988 64.072322 64.074988 64.072322 64.074988 64.072322 64.074988 64.072322 874.610787 64.072322 874.610787 64.072322 874.610787 118.079602 937.512631 118.079602 937.512631 118.079602 937.512631 198.685254 856.65102 198.685254 856.65102 211.995105 843.362499 233.346324 843.362499 246.634845 856.65102 246.634845 856.65102 330.503971 940.712114 330.503971 940.712114 330.503971 940.712114 414.351766 856.65102 414.351766 856.65102 421.006692 850.017424 429.645297 846.647302 438.326562 846.647302 446.986497 846.647302 455.625102 850.017424 462.280028 856.65102 462.280028 856.65102 546.170483 940.712114 546.170483 940.712114 546.170483 940.712114 592.285704 894.490244 592.285704 894.490244 592.285704 894.490244 592.285704 734.644052 592.285704 734.644052 616.409809 725.877468 639.29678 714.316668 660.47736 700.40958 660.47736 700.40958 660.47736 908.973239 660.47736 908.973239 660.47736 918.187751 656.851279 927.103645 650.366993 933.587931 650.366993 933.587931 570.145279 1014.001614 570.145279 1014.001614 563.490353 1020.67787 554.851748 1023.984003 546.170483 1023.984003 537.489218 1023.984003 528.871943 1020.67787 522.217017 1014.001614 522.217017 1014.001614 438.326562 929.94052 438.326562 929.94052 438.326562 929.94052 354.457437 1014.001614 354.457437 1014.001614 341.168915 1027.354125 319.839026 1027.311465 306.507845 1014.001614 306.507845 1014.001614 222.68138 929.94052 222.68138 929.94052 222.68138 929.94052 142.033068 1010.802131 142.033068 1010.802131 128.701887 1024.133312 107.393327 1024.133312 94.083476 1010.802131 94.083476 1010.802131 10.38499 926.869016 10.38499 926.869016 3.922033 920.38473 0.231963 911.511496 0.231963 902.232994 0.231963 902.232994 0.231963 34.618411 0.231963 34.618411 0.231963 15.4855 15.525493 0 34.359786 0 34.359786 0 626.370867 0 626.370867 0 645.226489 0 660.47736 15.4855 660.47736 34.618411 660.47736 34.618411 661.309226 128.064656 661.309226 128.064656 640.128646 114.136238 621.443663 115.501351 597.319558 106.734767 597.319558 106.734767 597.319558 64.074988 597.319558 64.074988Z" p-id="10248"></path></svg>
  </div>
  <!-- <div class="btn-float btn-hide" @click="handleHide">
    <svg v-show="btnHideActive" class="icon" style="width: 1em; height: 1em;vertical-align: middle;fill: currentColor;overflow: hidden;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="941"><path d="M513.125125 361.28644c-73.79368 0-133.315308 59.573817-133.315308 133.315308 0 73.792657 59.522652 133.366474 133.315308 133.366474 73.777307 0 133.315308-59.573817 133.315308-133.366474C646.441457 420.860257 586.902432 361.28644 513.125125 361.28644M513.125125 716.835202c-122.677017 0-222.199685-99.556437-222.199685-222.233454 0-122.625852 99.521644-222.181265 222.199685-222.181265 122.658597 0 222.214011 99.556437 222.214011 222.181265C735.340159 617.278765 635.784746 716.835202 513.125125 716.835202M513.125125 161.303756c-222.199685 0-411.968749 138.209782-488.865093 333.299015C101.157399 689.724751 290.926464 827.933509 513.125125 827.933509c222.214011 0 411.967726-138.209782 488.863047-333.331761C925.092851 299.513538 735.340159 161.303756 513.125125 161.303756" p-id="941"></path></svg>
    <svg v-show="!btnHideActive" class="icon" style="width: 1em; height: 1em;vertical-align: middle;fill: currentColor;overflow: hidden;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="271"><path d="M126.938667 82.076267l814.5792 814.5792-45.2544 45.2544-814.5792-814.5792 45.2544-45.2544ZM511.601 651.528c14.819 0 29.083-2.3 42.467-6.552L378.632 469.54c-4.255 13.385-6.558 27.648-6.558 42.46C372.074 589.17 434.362 651.528 511.601 651.528zM398.771 308.661c33.423-18.597 71.892-29.207 112.83-29.207 128.365 0 232.546 104.181 232.546 232.546 0 40.937-10.61 79.406-29.207 112.83l126.107 126.107c80.862-60.759 144.462-143.317 182.155-238.937-80.478-204.158-279.055-348.784-511.601-348.784-76.195 0-148.742 15.529-214.685 43.59L398.771 308.661zM511.601 372.473c-14.817 0-29.08 2.302-42.462 6.556l175.437 175.437c4.251-13.383 6.551-27.648 6.551-42.466C651.128 434.829 588.772 372.473 511.601 372.473zM624.431 715.339c-33.423 18.597-71.892 29.207-112.83 29.207-128.365 0-232.546-104.181-232.546-232.546 0-40.937 10.61-79.406 29.207-112.83L182.155 273.063C101.293 333.822 37.693 416.381 0 512c80.478 204.158 279.055 348.784 511.601 348.784 76.195 0 148.742-15.529 214.685-43.59L624.431 715.339z" p-id="271"></path></svg>
  </div> -->
  <div class="btn-float btn-done" :class="{active: hasNewRemembered}" @click="handleDone">
    <i class="el-icon-check" style="vertical-align: middle;"></i>
  </div>

</div>
</template>

<script>
const MasterMin = 2 

const FieldsToQuery = ['id', 'label', 'phonetic', 'defs']

const htmlDom = document.querySelector('html')

const getSimpleDefs = (defs) => {
  return defs.map(d => {
    const m = d['explan'].match(/(\w+[.．][\/ \w]*[^\w]+)/)
    return m ? m[0] : d
  }).join('/ ')
}

export default {
  name: 'word-list',
  props: ['list'], // todo
  data () {
    return {
      scrollTop: 0,
      pageSize: 50,
      total: 0,
      currentPage: 1,
      type: 'fresh',
      revealMode: false,
      options: [
        {label: '未记', value: 'fresh'},
        {label: '已记', value: 'master'},
        {label: '全部', value: 'all'},
      ]
    }
  },
  computed: {
    newRemembered () {
      return this.list.filter(item => !item.asRememebered && item.rem)
    },
    hasNewRemembered () {
      return this.newRemembered.length > 0
    },
    rems () {
      return this.list.filter(item => item.rem)
    },
    noShows () {
      return this.list.filter(item => !item.show)
    },
    remsEqualsToNoShows () {
      return this.rems.length === this.noShows.length
    },
    btnHideActive () {
      return !this.remsEqualsToNoShows
    }
  },
  filters: {
    simpleDefs: getSimpleDefs
  },
  methods: {
    initList () {
      this.currentPage = 1
      this.getTotal()
      this.getWords(1)
    },
    checkAllDone () {
      return this.list.length === this.rems.length
    },
    toggle (item, e) {
      if (this.revealMode) {
        if (!item.rem) {
          item.clicked = !item.clicked
        }
      } else 
      if (!item.asRememebered) {
        item.rem = !item.rem
        if (item.rem) {
          this.$message({
            message: item.label + ' ' + getSimpleDefs(item.defs).replace(/[\w.．\s：:]/g, ''),
            type: ['success', 'warning', 'info'][Math.random() * 3 | 0]
          })
        }
      }
    },
    handleTypeChange () {
      this.initList()
    },
    handleReveal () {
      this.revealMode = !this.revealMode;
    },
    handleHide () {
      const rems = this.rems
      const noShows = this.noShows
      if (rems.length === noShows.length) {
        noShows.map(item => {
          item.show = true
        })
      } else {
        rems.map(item => {
          item.show = !item.rem
        })
      }
    },
    handleDone () {
      if (!this.hasNewRemembered) {
        this.$message({
          message: '没有新记住的，再背背~',
          type: 'info'
        })
        return
      }

      const rems = this.newRemembered
        .map(item => {
          item.asRememebered = true
          item.obj.increment('remember', 1)
          return item.obj
        })
      
      AV.Object.saveAll(rems)
        .then(data => {
          if (this.checkAllDone()) {
            this.$message({
              message: '这一批背好啦！',
              type: 'success'
            })
            ++this.currentPage
          } else {
            this.$message({
              message: '快背好了！',
              type: 'success'
            })
            this.handleHide()
          }
        }, err => {
          this.$message({
            message: err,
            type: 'error'
          })
        })
    },
    getQuery () {
      let q = null
      switch (this.type) {
        case 'master':
          const master = new AV.Query('Word')
          master.greaterThanOrEqualTo('remember', MasterMin)
          q = master
          break
        case 'all':
          q = new AV.Query('Word')
          break
        case 'fresh':
        default:
          const noRemember = new AV.Query('Word')
          noRemember.doesNotExist('remember')
          const notMaster = new AV.Query('Word')
          notMaster.lessThan('remember', MasterMin)
          q = AV.Query.or(noRemember, notMaster)
      }
      q.select(FieldsToQuery)
      q.ascending('id')
      return q
    },
    getTotal () {
      return this.getQuery()
        .count()
        .then(
          total => {
            this.total = total
          },
          err => {
            this.$message({
              message: err,
              type: 'error'
            })
          }
        )
    },
    getWords (page) {
      const idx = --page
      const from = idx * this.pageSize
      if (from && from >= this.total) {
        this.$message({
          message: 'page exceed the max',
          type: 'error'
        })
        return
      }
      const q = this.getQuery()
      q.limit(this.pageSize)
      q.skip(from)
      q.find()
      .then(this.mergeList, err => {
        this.$message({
          showClose: true,
          message: err,
          type: 'error'
        })
        throw err
      })
      .then(() => {
        const tmp = this.btnHideActive;
      })
    },
    mergeList (data) {
      const now = Date.now()
      const len = this.list.length
      const newList = data.map(d => {
        const item = {}
        FieldsToQuery.map(k => {
          item[k] = d.get(k)
        })
        item.obj = d
        item.asRememebered = this.asRememebered(d)
        item.rem = item.asRememebered
        item.show = true
        item.clicked = false // for reveal mode
        return item
      })
      this.list.splice(0, len, ...newList)
    },
    asRememebered (d) {
      const time = Date.now() - d.updatedAt 
      // within 6 hours since fetch
      return time < 1000 * 3600 * 6
    }
  },
  created () {
    this.initList()
  },
  activated () {
    htmlDom.scrollTop = this.scrollTop
  },
  beforeRouteLeave (to, from, next) {
    this.scrollTop = htmlDom.scrollTop
    htmlDom.scrollTop = 0
    next()
  }
}
</script>

<style scoped>
.word-list {
  padding-bottom: 5rem;
}
.top {
  padding: 5px 0.625rem;
}
.select {
  width: 5rem;
}
.btn-float {
  color: rgba(0, 0, 0, 0.3);
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border: 1px solid #eee;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.5);
}
.btn-float.active {
  color: rgba(0, 187, 153, 0.5); 
}
.btn-hide {
  font-size: 24px;
  right: 80px;
}
.btn-reveal {
  font-size: 24px;
  right: 80px;
}
.pagination {
  float: right;
}
.pages {
  margin-right: 10px;
}
table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  border: .625rem solid #f8f8f8;
}
table tr td{
  padding: 0.5em 0;
  border: 1px solid #fff;
}
table tr {
  background: #fdd;
}
table tr:nth-child(7n) td{
  border-bottom-width: .625rem;
  border-bottom-color: #f8f8f8;
}
.no-touch table tr:hover {
  background: #ffcccc;
}
.reveal-mode .revealed1:not(.remember) {
  animation-duration: 2s;
  animation-name: reveal-bg1;
}
.reveal-mode .revealed2:not(.remember) {
  animation-duration: 2s;
  animation-name: reveal-bg2;
}
.remember {
  background: #eee;
}
.no {
  font-size: 0.5em;
  line-height: 2;
}
.def {
  white-space: pre-wrap;
  font-size: 0.8em;
  color: #555;
  opacity: 0;   
}
.reveal-mode .revealed1:not(.remember) .def {
  animation-duration: 2s;
  animation-name: reveal-opacity1;
}
.reveal-mode .revealed2:not(.remember) .def {
  animation-duration: 2s;
  animation-name: reveal-opacity2;
}
.remember .def {
  opacity: 1;
}
.word {
  font-family: 'Times New Roman', Times, serif;
  color: #209e85;
  user-select: none;
}
.done {
  display: block;
  margin: 1rem auto 5rem auto;
  width: 6rem;
}

@keyframes reveal-opacity1 {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes reveal-opacity2 {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes reveal-bg1 {
  from {
    background: #eee;
  }

  to {
    background: #fdd;
  }
}

@keyframes reveal-bg2 {
  from {
    background: #eee;
  }

  to {
    background: #fdd;
  }
}

</style>
