<template>
  <div id="app">
    <login :visible.sync="loginDialog"></login>
    <el-menu theme="dark" mode="horizontal" class="top-bar">
      <el-menu-item
        v-show="$route.path !== '/'"
        @click="$router.push({ path: '/' })"
        index="back" class="btn">
        <i class="el-icon-arrow-left"></i>返回
      </el-menu-item>
      <el-menu-item 
        @click="loginDialog = true"
        index="login" class="btn right">{{ currentUsername || '登陆' }}</el-menu-item>
    </el-menu>
    <keep-alive include="word-list">
      <router-view class="main" :list="list"></router-view>
    </keep-alive>
  </div>
</template>

<script>
import Login from '@/components/Login'
export default {
  name: 'app',
  components: {
    login: Login
  },
  data () {
    return {
      loginDialog: false,
      currentUsername: '',
      list: []
    }
  },
  methods: {
    getCurrentUsername () {
      const current = AV.User.current()
      this.currentUsername = current ? current.getUsername() : ''
    }
  },
  created () {
    this.getCurrentUsername()
  },
  watch: {
    loginDialog (val, old) {
      if (val === false) {
         this.getCurrentUsername()
      }
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  box-sizing: border-box;
  padding-top: 3rem;
  height: 100%;
}
#app .top-bar {
  height: 3rem;
  width: 100%;
  border-radius: 0;
  position: fixed;
  z-index: 100;
  top: 0;
}
#app .top-bar .btn {
  user-select: none;
  height: 3rem;
  line-height: 3rem;
  padding: 0 10px;
}
#app .top-bar .btn.is-active {
  color: #bfcbd9;
  border-bottom: none;
}
#app .right {
  float: right;
}
</style>
